body {
    background-color: #fafafa;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  table,
  th,
  td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
  }
  thead {
    background-color: #949393;
  }
  tbody tr:hover {
    background-color: #ddd;
  }
 .tr-class {background-color: #949393;}